<?xml version='1.0' encoding='utf-8'?>
<widget id="jcpg1969_camara" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Camera 4</name>
    <description>
        Camera 4
    </description>
    <author email="jcpg1969@gmail.com" href="http://strategossl.com">
        strategossl
    </author>
    <content src="index.html" />
    <access origin="*" />    
<plugin name="cordova-plugin-camera" spec="2.3.0" />
<plugin name="cordova-plugin-whitelist" spec="1.3.3" />
</widget>
